/* COMIC CARD */

.comicCard {
  position: relative;
}

.comicCardContainer {
  width: 140px;
  height: 280px;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  color: white;
  transition: all 0.5s ease;
  clip-path: polygon(120px 280px, 140px 260px, 140px 0px, 0px 0px, 0px 280px);
}

.comicCardContainer:hover {
  background-color: #ed171e;
}

.comicCardContainer > div {
  border-top: 5px solid #ed171e;
  padding: 5px;
  font-weight: bold;
}

/* BUTTONS */

.comicCardButton {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background: none;
  color: white;
  border: none;
  font-size: 20px;
  padding: 0;
  z-index: 1;
}

.comicCardButton:hover {
  transform: scale(120%);
}
