/* HEADER */

header {
  height: 60px;
  background-color: #202020;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
}

header img {
  height: 60px;
  cursor: pointer;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .visibleXs {
  display: none;
}

header .buttons {
  display: flex;
  gap: 20px;
  height: 100%;
}

header button {
  color: white;
  background: none;
  height: 100%;
  border: none;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  padding: 0 15px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 800px) {
  header button:hover {
    background-color: #404040;
    cursor: pointer;
    animation: headerButtons 0.3s linear both;
  }
}

@keyframes headerButtons {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.05, 1);
  }
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  header .buttons {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  header .buttons {
    display: none;
  }

  header .visibleXs {
    display: flex;
    padding-right: 15px;
    color: white;
  }

  header .visibleXs svg {
    height: 30px;
  }

  header .visible {
    display: flex;
    position: relative;
  }

  header .hidden {
    display: none;
  }

  header .menu .buttons {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
    display: flex;
    gap: 0;
    flex-direction: column;
    background-color: #202020;
    border-top: 2px solid #404040;
    width: 100vw;
    height: auto;
  }

  header .menu .buttons button {
    border: none;
    border-bottom: 1px solid #404040;
    height: 50px;
  }
}
