/* CHARACTER PAGE */

.characterPage {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.characterPage > div:first-of-type {
  width: 100%;
}

.characterInfo {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 20px 0;
}

.characterInfo .description h2 {
  text-align: left;
}

.characterInfo .description p {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 300;
}

.characterPage .visibleXs {
  display: none;
}

/* BOTTOM SECTION */

.characterPage .bottomBackground {
  background-color: #202020;
  flex: 1;
}

.characterPage .bottomContainer {
  color: white;
  padding: 20px 0;
}

.characterPage .appearsIn h3 {
  padding-bottom: 20px;
  text-align: left;
}

swiper-container::part(wrapper) {
  padding-bottom: 30px;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: white;
}

swiper-container::part(pagination) {
  bottom: 0px;
}

swiper-container::part(bullet-active) {
  background-color: white;
}

swiper-slide {
  display: flex;
  justify-content: center;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  .characterInfo,
  .characterPage .bottomContainer {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .characterInfo {
    display: none;
  }

  .characterPage .visibleXs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    text-align: justify;
    font-weight: 300;
    font-size: 18px;
  }

  .characterPage .appearsIn h3 {
    text-align: center;
  }
}
