/* FOOTER */

footer {
  height: 60px;
  width: 100vw;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
}

footer span {
  font-weight: 900;
}

/* RESPONSIVE */

@media (max-width: 600px) {
  footer {
    font-size: 16px;
  }
}
