/* COMICS PAGE */

.comicsPage {
  position: relative;
}

.bannerComics {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 40vh;
  width: 100vw;
  background-image: url("./Comicbook_banner.webp");
  background-position: center;
  background-size: cover;
}

.comicsPage .title {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 3px #ed171e;
}

/* FILTERS SECTION */

.comicsPage .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.comicsPage .filters label {
  position: relative;
}

.comicsPage .filters svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  padding: calc(15px / 2);
}

.comicsPage .filters input {
  width: 400px;
  height: 30px;
  padding-left: 25px;
}

/* PAGINATION */

.comicsPage .pagination ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.comicsPage .pagination li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.comicsPage .pagination .rc-pagination-prev,
.comicsPage .pagination .rc-pagination-next {
  font-size: 14px;
  color: #404040;
}

.comicsPage .rc-pagination-item {
  height: 20px;
  background: none;

  font-family: "Roboto", sans-serif;
}

.comicsPage .rc-pagination-item-active {
  font-weight: 900;
  font-size: 18px;
}

/* COMIC SECTION */

.comicsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  justify-content: space-between;
  grid-gap: 40px;
}
