/* GENERAL */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}
